.page {
    display: flex;
    flex-direction: column;
    overflow: auto;

    .title {
        font-family: 'Black Han Sans', sans-serif;
    }

    @include media-breakpoint-only(xs) {
        padding: 1rem 0.5rem !important;
    }
}
